<div class="col-md-4">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Select Bus
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/report/425 ">425</a></li>
            <li><a href="/report/534">534</a></li>
            <li><a href="/report/543A">543A</a></li>
        </ul>
    </div>
</div>